.sort{
  //padding-top: 99px;
  display: flex;
}
.text{
  margin: 0px 8px 0px 7px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.015em;
  color: #2C2C2C;
}