.header{
  padding-top: 52px;
  display: flex;
  justify-content: space-between;
  .logo{
    display: flex;
    svg{
      margin-right: 17px;
      margin-top: 5px;
      width: 38px;
      height: 38px;
    }
    .text{
      .title{
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
      }
      .sub_title{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #7B7B7B;
      }
    }
  }
  .basket{
    background: #FE5F1E;
    border-radius: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    align-items: center;
    .wrapper{
      display: flex;
      padding: 15px 23px;
      .many{
        margin-right: 13px;
      }
      .pcs{
        svg{
          margin-right: 5px;
        }
        margin-left: 13px;
      }
    }
  }
}




